<% layout('layout') -%>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#data').DataTable();
  });
</script>
    <div class="col-md-8 col-md-offset-2">
    <h1>List of borrowed books</h1>
    <table id="data" class="display">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Category</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <% for( key in books){  book = books[key] %>
              <tr>
                <td> <%-  book.id %> </td> 
                <td> <%-  book.category  %> </td>
                <td> <%-  book.title  %> </td> 
                <td> <%-  book.author  %> </td>
                <td> 
                  <a href="#" title="Remove Book" style="margin-left: 10px"> <button class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i></button> <% -%> </a> 
                </td>
              </tr>
             <% } %>
    </tbody>
</table>

    </div>
    <a href="/home"><button class="btn btn-primary">Back to home</button></a>

</body>

</html>